// Home Banner Styles
.home-banner {
  background-color: var(--color-bg);

  .banner-content {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: 148px 0px 70px;
    display: grid;
    grid-template-columns: 1fr 648px;
    gap: 24px;
    align-items: center;
  }

  .banner-text {
    .banner-heading {
      margin-bottom: 20px;
      
      h1 {
        color: var(--color-black);
        font-size: 46px;
        line-height: 52px;
        font-weight: 900;
        margin-bottom: 0;

        span {
          color: var(--color-primary);
        }
      }
    }
    
    h1 {
      color: var(--color-black);
      font-size: 46px;
      line-height: 52px;
      font-weight: 900;
      margin-bottom: 20px;

      span {
        color: var(--color-primary);
      }
    }

    p {
      color: rgba(255, 255, 255, 0.95);
      font-size: 1.2rem;
      line-height: 1.6;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .brandsiconslist {
      display: flex;
      align-items: center;
      padding-top: 25px;

      .brandicon {
        position: relative;
        z-index: 1;
        padding-right: 40px;
        padding-left: 40px;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 41px;
          background-color: var(--color-text);
        }

        &:last-child {
          padding-right: 0px;

          &::after {
            display: none;
          }
        }

        &:first-child {
          padding-left: 0px;
        }
      }
    }
  }

  .banner-image {
    width: 100%;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
    }
  }

  .inquiry-form-wrapper {
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (max-width:1580px) and (min-width:1200px) {
  .home-banner {
    .banner-image {
      height: 445px;
    }
  }
}

@media (max-width: 1580px) {
  .home-banner {
    .banner-content {
      grid-template-columns: 1fr 550px;
    }

    .banner-text {
      .banner-heading{
        h1{
          font-size: 38px;
          line-height: 42px;
          margin-bottom: 15px;
        }
      }
      h1 {
        font-size: 38px;
        line-height: 42px;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .home-banner {
    .banner-content {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      padding: 122px 0px 50px;
      gap: 20px;
      >.banner-heading {
        width: 100%;
        margin-bottom: 20px;
        
        h1 {
          color: var(--color-dark);
          font-size: 36px;
          line-height: 1.2;
          font-weight: 900;
          margin-bottom: 0;

          span {
            color: var(--color-primary);
          }
        }
      }
      
      >h1 {
        color: var(--color-dark);
        font-size: 36px;
        line-height: 1.2;
        font-weight: 900;
        margin-bottom: 20px;
        width: 100%;

        span {
          color: var(--color-primary);
        }
      }

      .banner-text,
      .banner-image {
        width: calc(50% - 10px);

        .inquiry-form-wrapper {
          margin-top: 0;
        }
      }
    }


  }
}
@media (max-width: 992.5px) {
  .home-banner {
    .banner-content {
      h1{
        order: 0;
      }
      .banner-text{
        width: 100%;
        order: 2;
      }
      .banner-image{
        width: 100%;
        order: 1;
      }
    }
  }
}
@media (max-width: 767.5px) {
  .home-banner {
    .banner-content {
      padding: 110px 0px 50px;
      >.banner-heading {
        h1 {
          font-size: 28px;
          line-height: 32px;
          margin-bottom: 7px;
        }
      }
      h1{
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 7px;
      }
      .banner-text{
        width: 100%;
        order: 2;
      }
      .banner-image{
        width: 100%;
        order: 1;
      }
    }
  }
}