.packages-grid-two-col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 0px;
}
@media (max-width: 1200px) {
    .packages-grid-two-col {
        gap: 15px;
        .package-card{
            grid-template-columns: 1fr;
        }
    }
}
