.reviews-page {
  margin: 150px 0 0;
  .reviews-grid {
    padding: 40px;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
@media (max-width:1200px) {
    .reviews-page {
        .reviews-grid{
            padding: 40px 0;
        }
    }
}
@media (max-width:830px) {
    .reviews-page {
        .reviews-grid{
          gap: 10px;
        }
    }
}
@media (max-width:767.5px) {
    .reviews-page {
      margin-top: 110px;
        .reviews-grid{
          grid-template-columns: 1fr;
          gap: 15px;
        }
    }
}