.reviews-page {
  margin: 150px 0;
    .sectionheadingstext {
    position: relative;
    padding: 30px 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      height: 30px;
      background: url("/styleup.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 150px;
      height: 30px;
      background: url("/styledown.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }


  }
  .reviews-grid {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
}
