.scroll-detail-section {
    padding: 60px 0 0;

    .scroll-detail-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
        position: relative;
    }

    .image-container {
        position: absolute;
        overflow: hidden;
        border-radius: 18px;
        width: calc(100% - 969px + 185px);
        right: 0;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            display: block;
        }
    }

    .content {
        background-color: var(--color-dark);
        padding: 42px 209px 42px 80px;
        width: 969px;
        border-radius: 18px;
        color: var(--color-white);

        .text-content {
            height: 653px;
            width: 100%;
            overflow-y: auto;
            direction: rtl;
            padding-left: 24px;

            /* Custom Scrollbar */
            &::-webkit-scrollbar {
                width: 14px;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
                border-left: 6.5px solid transparent;
                border-right: 6.5px solid transparent;
                background-clip: content-box;
                background-color: #707070; // Thinner vertical line
            }

            &::-webkit-scrollbar-thumb {
                background-color: white;
                border: 2px solid #707070;
                border-radius: 100px;
                background-clip: padding-box;
            }

            .contenttext{
                direction: ltr;
            }
            .scroll-content {
                h2 {
                    font-size: 36px;
                    font-weight: 700;
                    margin-bottom: 24px;
                    color: var(--color-white);
                    font-family: var(--font-heading);
                }
                h3{
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 15px;
                    color: var(--color-white);
                    font-family: var(--font-heading);
                }

                p {
                    font-size: 18px;
                    line-height: 1.6;
                    color: var(--color-white);
                    margin-bottom: 20px;
                }

                img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 12px;
                    margin: 24px 0;
                }

                ul,
                ol {
                    margin-left: 20px;
                    margin-bottom: 20px;

                    li {
                        margin-bottom: 10px;
                        font-size: 18px;
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}
@media (max-width: 1600px) {
    .scroll-detail-section {
        .content{
            padding: 40px 166px 42px 50px;
            .text-content{
                height: 580px;
            }
        }
        .image-container{
            width: calc(100% - 969px + 165px);
        }
    }
}
@media (max-width: 1200px) {
    .scroll-detail-section {
        padding-top: 50px;
        .scroll-detail-wrapper{
            display: grid;
            grid-template-columns: 1fr;
            gap: 0;
            overflow: hidden;
            .image-container{
                overflow: hidden;
                position: relative;
                width: 100%;
                right: auto;
                height: auto;
                order: 0;
                padding: 0 20px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            .content{
                order: 1;
                overflow: hidden;
                width: 100%;
                padding: 60px 30px 30px 30px;
                margin-top: -35px;
                .text-content {
                    height: 460px;
                    .scroll-content {
                        h2{
                            font-size: 32px;
                            margin-bottom: 15px;
                        }
                        h3{
                            font-size: 24px;
                            margin-bottom: 15px;
                        }
                        p{
                            font-size: 14px;
                            line-height: 1.2;
                            margin-bottom: 15px;
                        }
                        ul{
                            margin-bottom: 15px;
                            li{
                                font-size: 14px;
                                line-height: 1.2;
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}