.umrah-hajj-services {
    padding-top: 60px;

    .services-header {
        margin-bottom: 60px;

        .sectionheadingstext.centered {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 800px;
            margin: 0 auto;

            &::before,
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .services-grid {
        display: grid;
        grid-template-columns: 1fr 536px;
        gap: 24px;
        align-items: center;
    }

    .services-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;

    }

    .service-card {
        display: grid;
        grid-template-columns: 176px 1fr;
        align-items: center;
        gap: 20px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateX(10px);
        }

        .service-icon {
            overflow: hidden;
            height: 129px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .service-info {
            h3 {
                font-size: 18px;
                color: var(--color-primary);
                font-weight: 700;
                margin-bottom: 8px;
                font-family: var(--font-heading);
            }

            p {
                font-size: 16px;
                line-height: 1.2;
                color: var(--color-text);
                margin: 0;
                display: -webkit-box;
                line-clamp: 5;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    .services-main-image {
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            border-radius: 18px;
        }
    }
}
@media (max-width: 1600px) {
    .umrah-hajj-services {
        .service-card{
            grid-template-columns: 150px 1fr;
        }
    }
}
@media (max-width: 1200px) {
    .umrah-hajj-services {
        padding-top: 50px;
        .services-grid{
            grid-template-columns: 1fr 500px;
            gap: 20px;
            .services-main-image{
                max-height: 500px;
                overflow: hidden;
                border-radius: 18px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                    border-radius: unset;
                }
            }
            .service-card{
                grid-template-columns: 100px 1fr; 
                gap: 10px;
                .service-icon{
                    height: 100px;
                }
                .service-info{
                    h3{
                        font-size: 16px;
                        line-height: 1.2;
                        margin-bottom: 6px;
                    }
                    p{
                        font-size: 14px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}
@media (max-width: 992.5px) {
    .umrah-hajj-services {
        .services-grid{
            grid-template-columns: 1fr;
            gap: 20px;
            .services-main-image{
                order: 0;
                max-height: 500px;
                overflow: hidden;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
            .services-list{
                order: 1;
            }
            .service-card{
                grid-template-columns: 1fr; 
                gap: 10px;
                .service-icon{
                    width: 100px;
                    height: 100px;
                }
                .service-info{
                    p{
                        font-size: 14px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}